In [1]:
import utils
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
symbol = 'ADBE'
print ('Data Generated for {}'.format(symbol))

Data Generated for ADBE

#### *ReportSnapshot: Company overview*
#### *ReportsFinSummary: Financial summary*
#### *ReportRatios: Financial ratios*
#### *ReportsFinStatements: Financial statements*
#### *RESC: Analyst estimates*
#### *CalendarReport: Company calendar from Wall Street Horizons*

In [3]:
resc = utils.read_fundamental(reqId = 0,
                             symbol = symbol, 
                             sec_type = 'STK', 
                             exch = 'SMART', 
                             prim_exch = 'NASDAQ', 
                             curr = 'USD',
                             reportType = 'RESC')

unhandled exception in EReader thread
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/ibapi/reader.py", line 34, in run
    data = self.conn.recvMsg()
  File "/usr/local/lib/python3.6/dist-packages/ibapi/connection.py", line 99, in recvMsg
    buf = self._recvAllMsg()
  File "/usr/local/lib/python3.6/dist-packages/ibapi/connection.py", line 119, in _recvAllMsg
    buf = self.socket.recv(4096)
OSError: [Errno 9] Bad file descriptor

In [4]:
reportsnapshot = utils.read_fundamental(reqId=0,
                             symbol = symbol, 
                             sec_type = 'STK', 
                             exch = 'SMART', 
                             prim_exch = 'NASDAQ', 
                             curr = 'USD',
                             reportType = 'ReportSnapshot')

unhandled exception in EReader thread
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/ibapi/reader.py", line 34, in run
    data = self.conn.recvMsg()
  File "/usr/local/lib/python3.6/dist-packages/ibapi/connection.py", line 99, in recvMsg
    buf = self._recvAllMsg()
  File "/usr/local/lib/python3.6/dist-packages/ibapi/connection.py", line 119, in _recvAllMsg
    buf = self.socket.recv(4096)
OSError: [Errno 9] Bad file descriptor

In [5]:
reportsfinsummary = utils.read_fundamental(reqId=0,
                             symbol = symbol, 
                             sec_type = 'STK', 
                             exch = 'SMART', 
                             prim_exch = 'NASDAQ', 
                             curr = 'USD',
                             reportType = 'ReportsFinSummary')

unhandled exception in EReader thread
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/ibapi/reader.py", line 34, in run
    data = self.conn.recvMsg()
  File "/usr/local/lib/python3.6/dist-packages/ibapi/connection.py", line 99, in recvMsg
    buf = self._recvAllMsg()
  File "/usr/local/lib/python3.6/dist-packages/ibapi/connection.py", line 119, in _recvAllMsg
    buf = self.socket.recv(4096)
OSError: [Errno 9] Bad file descriptor

In [6]:
reportsfinstatements = utils.read_fundamental(reqId = 0,
                             symbol = symbol, 
                             sec_type = 'STK', 
                             exch = 'SMART', 
                             prim_exch = 'NASDAQ', 
                             curr = 'USD',
                             reportType = 'ReportsFinStatements')

unhandled exception in EReader thread
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/ibapi/reader.py", line 34, in run
    data = self.conn.recvMsg()
  File "/usr/local/lib/python3.6/dist-packages/ibapi/connection.py", line 99, in recvMsg
    buf = self._recvAllMsg()
  File "/usr/local/lib/python3.6/dist-packages/ibapi/connection.py", line 119, in _recvAllMsg
    buf = self.socket.recv(4096)
OSError: [Errno 9] Bad file descriptor

In [7]:
analyst, resc_ann, resc_q = utils.parse_resc(parser = resc)
snap, estimate, brief, business_summary, address = utils.parse_reportsnapshot(parser = reportsnapshot)
#fin = utils.parse_reportsfinsummary(parser = reportsfinsummary)
quarter, annual = utils.parse_reportsfinstatements(parser = reportsfinstatements)

In [8]:
snap

           Company Type          Desc Exchange    Index              Industry
Adobe Inc  Equity Issue  Common Stock   NASDAQ  S&P 500  Application Software

In [9]:
analyst

,Exchange,Symbol,Sector,CLPRICE,SHARESOUT,MARKETCAP,52WKHIGH,52WKLOW
Adobe Inc,NASDAQ,ADBE,Technology,282.130000,485438762,136956.8379,313.1100,204.9500

In [10]:
estimate

,ConsRecom,ProjDPS,ProjEPS,ProjEPSQ,ProjLTGrowthRate,ProjPE,ProjProfit,ProjSales,ProjSalesQ,TargetPrice
Adobe Inc,2.0,0.0,7.8381,2.2566,17.1,34.57215,3856.4575,11153.4493,2972.5158,312.76

In [11]:
resc_ann.head()

,NAV,OPROFIT,CAPEX,NPROFIT,ROA,CPS,EPS,REVENUE,EBIT,BVPS,NPROFITREP,PPROFIT,EPSREP,PPROFITREP,EBITDA,NDEBT,ROE,DPS
2018,-6.74,NaN,266.579,2750,16.51,8.09,5.5,8725,NaN,19.2,2200,NaN,4.4,NaN,NaN,895.838,30.86,0
2017,4.59,NaN,178.122,2161,15.86,5.81,4.31,7301.51,2773.45,17.162,1693.54,NaN,3.38,NaN,2955.95,-3938.35,27.21,0
2016,3.25,NaN,203.805,1519.1,12.43,4.36,3.01,5854.43,1979.7,15.0223,1168.78,NaN,2.32,NaN,2175.18,-2859.23,21.05,0
2015,2.2593,NaN,184.936,1053.55,9.36,2.9,2.08,4795.51,1385.29,14.0648,629.551,NaN,1.24,NaN,1572.17,-2080.85,15.31,0
2014,3.15,NaN,148.332,658.433,6.22,2.53,1.29,4147.06,885.924,13.5598,253.551,NaN,0.5,NaN,1072.51,-2225.18,9.77,0

In [12]:
quarter['Net Income']

Quarter
2019-08-30    792.763
2019-05-31    632.593
2019-03-01    674.241
2018-11-30     678.24
2018-08-31    666.291
Name: Net Income, dtype: object

In [13]:
quarter

,Revenue,Total Revenue,"Cost of Revenue, Total",Gross Profit,"Selling/General/Admin. Expenses, Total",Research & Development,Depreciation/Amortization,Total Operating Expense,Operating Income,"Interest Inc.(Exp.),Net-Non-Op., Total",...,Capital Expenditures,"Other Investing Cash Flow Items, Total",Cash from Investing Activities,Financing Cash Flow Items,"Issuance (Retirement) of Stock, Net",Cash from Financing Activities,Foreign Exchange Effects,Net Change in Cash,"Issuance (Retirement) of Debt, Net",Total Extraordinary Items
Quarter,,,,,,,,,,,,,,,,,,,,,
2019-08-30,2834.13,2834.13,415.963,2418.16,1031.57,489.827,42.954,1980.31,853.812,-20.556,...,-300.384,13.209,-287.175,-412.624,-1767.76,-2180.38,-11.583,566.272,NaN,NaN
2019-05-31,2744.28,2744.28,407.488,2336.79,1068.26,475.958,43.026,1994.73,749.547,-48.054,...,-210.76,88.915,-121.845,-376.706,-1176.09,-1556.01,-4.783,440.135,-3.219,NaN
2019-03-01,2600.95,2600.95,397.286,2203.66,997.627,464.637,46.566,1906.12,694.83,-6.334,...,-65.268,-66.65,-131.918,-352.575,-428.406,-783.912,-1.547,96.071,-2.931,NaN
2018-11-30,2464.62,2464.62,359.261,2105.36,935.928,415.958,32.932,1744.08,720.546,-26.757,...,-266.579,-4418.72,-4685.3,-393.193,-1859.01,-5.568,-1.738,-663.297,2246.635,-6.0
2018-08-31,2291.08,2291.08,295.492,1995.58,854.147,398.957,23.874,1572.47,718.606,-28.265,...,-204.016,-1342.4,-1546.42,-368.91,-1560.26,-1930.3,-3.523,-558.928,-1.132,-24.0

In [14]:
int(datetime.strptime(str(quarter.index[0]), '%Y-%m-%d').timestamp())

1567137600

In [15]:
1571976000 > 1569816000

True