In [1]:
import quandl 
import matplotlib.pyplot as plt
import datetime as datetime
import numpy as np
import pandas as pd
import talib
import seaborn as sns
from time import time
from sklearn import preprocessing
import pytz

In [2]:
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

In [3]:
import risk_model
import factorize
import account
import utils_s

In [4]:
import scipy.stats as stats
import cvxpy as cvx

In [5]:
import zipfile
import os

In [6]:
with zipfile.ZipFile('ohlcv.zip', 'r') as zip_ref:
    zip_ref.extractall()

for item in os.listdir(os.getcwd()):  # loop through items in dir
    if item.endswith('.csv') and item.split('_')[0] == 'SHARADAR' and item.split('_')[1] == 'SEP':
        
        ohlcv = pd.read_csv(item)
        ohlcv['date'] = pd.to_datetime(ohlcv['date'])
        ohlcv = ohlcv.set_index(['date', 'ticker']).sort_index(level=[0,1], ascending=[True, False])
        ohlcv.drop(['lastupdated','dividends','closeunadj'],axis=1,inplace=True)

        os.remove(item)

In [7]:
ohlcv

                    open   high     low  close      volume
date       ticker
2018-05-31 ZUO     21.84  22.96  21.670  22.18    424702.0
           ZTS     84.27  84.65  83.610  83.70   2690026.0
           ZS      25.62  26.33  25.070  26.26    725901.0
           ZNGA     4.34   4.52   4.331   4.40  27117793.0
           ZLAB    24.29  24.53  23.170  23.42    270623.0
...                  ...    ...     ...    ...         ...
2020-05-29 AAON    53.75  54.72  52.900  54.17    288431.0
           AAN     35.85  37.76  35.380  36.91    757636.0
           AAL     10.48  10.87  10.320  10.50  59054713.0
           AA       9.28   9.47   8.970   9.21   7932520.0
           A       87.17  88.49  86.465  88.14   2394489.0

[986486 rows x 5 columns]

In [8]:
close = ohlcv['close'].unstack('ticker')
openn = ohlcv['open'].unstack('ticker')

In [9]:
openn

ticker,A,AA,AAL,AAN,AAON,AAP,AAPL,AAT,AAXN,AB,...,ZBRA,ZEN,ZGNX,ZION,ZLAB,ZM,ZNGA,ZS,ZTS,ZUO
date,,,,,,,,,,,,,,,,,,,,,
2018-05-31,62.65,49.98,43.40,41.33,30.65,128.34,187.220,36.29,63.70,28.45,...,156.42,56.20,42.15,55.48,24.29,NaN,4.34,25.62,84.27,21.84
2018-06-01,62.47,48.39,44.05,39.98,30.70,128.84,187.991,36.36,63.97,28.50,...,154.01,56.30,42.55,55.71,23.96,NaN,4.46,26.36,84.32,23.12
2018-06-04,63.17,48.13,44.04,40.08,31.20,129.00,191.635,36.48,65.27,28.75,...,152.86,57.25,42.70,55.69,23.72,NaN,4.50,28.39,85.65,29.16
2018-06-05,63.46,48.62,44.78,40.43,31.90,129.77,193.065,36.78,66.07,28.85,...,154.28,57.00,42.20,55.84,23.99,NaN,4.41,29.32,85.53,28.71
2018-06-06,63.75,49.89,43.45,40.62,32.20,130.11,193.630,36.94,67.64,28.80,...,157.17,57.25,42.50,56.10,22.62,NaN,4.44,30.20,84.86,28.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-22,85.00,8.30,10.02,33.82,51.93,133.29,315.770,26.17,77.11,23.68,...,243.75,80.37,29.57,30.89,67.29,171.86,8.16,76.67,129.60,11.54
2020-05-26,86.23,8.70,10.27,35.78,52.83,137.62,323.500,26.36,75.75,24.93,...,250.00,83.44,30.56,31.56,64.61,169.10,8.51,79.00,131.42,12.50
2020-05-27,86.30,9.12,12.43,37.67,55.09,137.50,316.140,28.01,76.79,25.50,...,257.29,80.60,30.61,34.66,67.87,158.01,8.00,76.86,133.70,12.00
2020-05-28,86.87,9.96,11.78,38.57,55.20,142.39,316.770,28.51,77.08,26.72,...,258.24,79.43,29.83,35.31,67.85,159.23,7.97,74.70,137.81,11.61
2020-05-29,87.17,9.28,10.48,35.85,53.75,137.70,319.250,26.68,72.78,25.00,...,257.86,84.38,28.94,33.21,69.25,168.00,8.20,87.06,138.44,11.22

In [10]:
close

ticker,A,AA,AAL,AAN,AAON,AAP,AAPL,AAT,AAXN,AB,...,ZBRA,ZEN,ZGNX,ZION,ZLAB,ZM,ZNGA,ZS,ZTS,ZUO
date,,,,,,,,,,,,,,,,,,,,,
2018-05-31,61.92,48.07,43.54,39.78,30.50,128.62,186.87,36.35,63.68,28.35,...,153.51,55.89,42.55,54.810,23.42,NaN,4.40,26.26,83.70,22.18
2018-06-01,62.78,47.64,44.00,39.91,31.05,128.34,190.24,36.46,65.30,28.55,...,152.49,56.84,42.50,55.660,23.39,NaN,4.47,28.18,85.42,26.40
2018-06-04,63.38,48.46,44.86,40.41,31.85,129.91,191.83,36.63,66.07,28.85,...,153.30,56.88,42.35,56.090,23.80,NaN,4.41,29.21,85.39,28.02
2018-06-05,63.52,49.45,44.18,40.54,32.10,129.95,193.31,37.04,67.06,28.70,...,156.78,56.99,42.55,55.780,22.41,NaN,4.43,30.13,84.76,28.54
2018-06-06,65.19,50.13,44.19,40.67,32.60,130.59,193.98,37.35,67.90,29.20,...,158.98,57.96,42.75,57.150,24.14,NaN,4.41,30.65,85.47,30.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-22,84.98,8.21,9.70,33.98,51.70,133.48,318.89,25.17,74.11,24.27,...,243.54,81.93,29.98,30.190,63.50,171.06,8.38,76.94,130.11,12.06
2020-05-26,86.13,8.76,11.14,36.31,54.78,135.58,316.73,27.00,75.80,24.93,...,255.96,81.21,30.32,32.930,67.66,164.00,8.09,76.52,130.45,11.87
2020-05-27,86.18,9.76,11.98,38.38,54.98,141.71,318.11,28.09,75.70,26.07,...,258.67,78.81,29.78,35.080,67.44,161.97,7.99,74.53,135.64,11.66
2020-05-28,86.69,9.48,10.98,36.24,54.22,138.44,318.25,27.16,73.20,25.25,...,257.42,84.38,29.00,34.020,68.36,163.55,8.07,75.80,138.11,11.24
2020-05-29,88.14,9.21,10.50,36.91,54.17,139.32,317.94,26.17,75.96,24.97,...,261.32,85.75,29.13,32.905,74.40,179.48,9.15,98.09,139.39,12.01

In [15]:
return_over = pd.DataFrame(index = close.index, columns=close.columns)
close_shifted = close.apply(lambda x:x.shift(1))

for date in close.index:
    return_over.loc[date] = (openn.loc[date] - close_shifted.loc[date]) / close_shifted.loc[date]
    
overnight_sentiment = return_over.rolling(5).sum()
overnight_sentiment_dr = utils_s.demean(overnight_sentiment).rank(axis=1)
overnight_sentiment_drz = utils_s.zscore(overnight_sentiment_dr)

In [18]:
overnight_sentiment_drz

ticker,A,AA,AAL,AAN,AAON,AAP,AAPL,AAT,AAXN,AB,...,ZBRA,ZEN,ZGNX,ZION,ZLAB,ZM,ZNGA,ZS,ZTS,ZUO
date,,,,,,,,,,,,,,,,,,,,,
2018-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-06-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-06-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-06-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-22,1.310768,1.227694,1.448593,1.470303,-0.077891,1.605686,-1.179285,-0.970388,0.266676,-0.675693,...,-0.503939,-0.484547,-1.156888,1.018181,-1.324117,-1.608289,-1.156107,0.638861,-1.527908,0.848295
2020-05-26,1.351174,1.343156,1.479522,1.011936,-0.581654,1.667362,-1.140265,1.264427,0.206431,-1.005696,...,-1.024442,-0.463403,-1.345201,1.456648,-1.329897,-1.518622,-0.654159,0.914200,-1.814572,1.079772
2020-05-27,0.442019,1.328161,1.547890,1.166709,-0.815158,-0.714875,-1.333669,1.464142,0.063563,-0.232547,...,-1.327421,-1.305615,-1.034933,1.843764,-1.267756,-1.631740,-1.480799,-0.098288,-1.138226,0.391392
2020-05-28,0.641809,1.220196,1.513706,0.956376,-0.908127,-0.870992,-1.387958,1.428193,0.089383,0.412373,...,-1.298288,-1.078323,-0.900423,1.411222,-1.065438,-1.637258,-1.537123,-0.310984,-0.616409,-0.148722
2020-05-29,1.178323,1.266681,1.417665,1.005983,-1.031365,-0.984707,-1.374386,1.406224,0.068727,0.189857,...,-1.319652,-1.249232,-1.104877,1.349994,-0.682477,-1.612427,-1.379747,1.241983,-0.544743,0.144785

In [17]:
utils_s.demean(overnight_sentiment).rank(axis=1).iloc[-1].sort_values()

ticker
LTM        1.0
HTZ        2.0
FG         3.0
HHS        4.0
VHI        5.0
         ...
GNC     1997.0
ASPS    1998.0
TGI     1999.0
PRTY    2000.0
WBC        NaN
Name: 2020-05-29 00:00:00, Length: 2001, dtype: float64

In [ ]:
    
    returns = close.apply(lambda x:(x - x.shift(window_length))/x).iloc[(window_length-1):,:].fillna(0)
    
    return returns